body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.navbar-expand-md .navbar-nav .nav-link{
    color: #333333;
}
.footer-content a{
    text-decoration: none;
    color: #ffffff;
}
.navbar-nav.me-auto{
    margin-left: auto!important;
    margin-right: 0px !important;
}
.space-left-right{
    padding: 0px 50px;
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 15px 25px;
}
.spaceleft-right{
    padding: 0px 40px;
}
.top-header{
    background-color:#033358;
}
.email-and-home{
    display: flex;
    align-items: center;
}
.home-link{
    background-color: #ffffff;
    padding: 7px 10px;
}
.home-link a{
    color: #00335B;
    font-size: 20px;
}
.email-link a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    padding: 0px 15px;
}
.no-padding{
    padding: 0px !important;
}
.phone-contact{
    display: flex;
    justify-content: end;
    align-items: center;
}
.phone-link a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    display: inline-block;
    padding: 0px 20px;
}
.contact-us-link a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    background: #ED2426;
    display: inline-block;
    padding: 10px 30px;
}
.banner-box{
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 50px;
    z-index: 2;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}
.banner-box h6{
    color: #2C7BF3;
    font-size: 22px;
}
.banner-box h2,.h2-title{
    font-size: 32px;
    color: #00335B;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-box p{
    font-size: 18px;
    margin-bottom: 25px;
}
.btn{
    border-radius: 6px;
    background: #478FFB;
    color: #ffffff;
    padding: 18px 25px;
    font-size: 16px;
    line-height: 16px;
}
.banner-section-wrapper .banner-image{
    width: 800px;
    position: absolute;
    right: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
}
.banner-section-wrapper{
    position: relative;
}
.intro-text {
    margin: 100px 0px 80px;
}
.intro-text p{
    font-size: 23px;
    width: 86%;
    margin: auto;
}
ul.list-style li{
    list-style: disc;
    color: #ffffff;
    margin-top: 20px;
}
.darkgreen{
    background: #008385;
}
.color-box{
    padding: 60px 30px;
}
.color-box h5{
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 28px;
    margin-bottom: 30px;
}
.bluecolor{
    background: #00335B;
}
.color-box p{
    color: #ffffff;
}
.greencolor{
    background: #3CB263;
}
.purplecolor{
    background: #6C2A77;
}
.colorfull-boxes .row{
    align-items: stretch;
}
.banner-box.section-text{
    padding: 0px;
    box-shadow: none;
    background: transparent;
}
.top-bottom-space{
    padding: 80px 0px;
}
.bottom-space{
    padding-bottom: 80px;
}
.page-name-section .banner-box h2{
    font-size: 50px;
}
.aboutus-section{
    background-image: url("../images/abtbg.png");
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: 40px;
}
.about-page-intro{
    background-image: url("../images/abtbg.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}
.service-image{
    border-radius: 8px;
    overflow: hidden;
}
.service-title{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 40px 20px;
    width: 85%;
    margin: -50px auto;
    z-index: 1;
    position: relative;
}
.service-title h2{
    margin-bottom: 0px;
}
.service-title h2{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
}
.service-box{
    margin-bottom: 110px;
    text-decoration: none;
    color: #2B4570;
    display: block;
}
.btn i{
    margin-left: 5px;
}
.section-title{
    margin-bottom: 50px;
}
.section-title h2{
    color: #00335B;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 0px;
}
.video-title h6{
    color: #478FFB;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.video-title h2{
    color: #00335B;
    font-size: 32px;
    font-weight: 600;
}
.video-wrapper iframe{
    width: 100%;
    height: 400px;
    border-bottom: 5px solid #478FFB;
}
.video-wrapper{
    position: relative;
}
.video-wrapper:before{
    content: "";
    width: 100%;
    background: rgba(0, 121, 200, 0.10);
    height: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.video-wrapper .highlights-video{
    width: 90%;
    margin: auto;
}
.btn.redbtn{
    border-radius: 6px;
    border: 3px solid #EC2426;
    color: #ED2426;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
}
.btn.redbtn.bluebtn{
    border: 3px solid #0079C8;
    color: #0079C8;
}
.ilove{
    margin-top: 40px;
}
.who-qualifies-section{
    background: rgba(0, 121, 200, 0.10);
}
.who-qualifies-section h2{
    color: #00335B;
    font-size: 40px;
    font-weight: 600;
}
.who-qualifies-section h6{
    color: #333;
    font-size: 24px;
}
.list-style li{
    font-size: 18px;
    margin-top: 25px;
}
.who-qualifies-section h2{
    margin-bottom: 30px;
}
.list-style ul li{
    color: #333;
    font-size: 18px;
}
.page-description-section .list-style ul li{
    margin-top: 10px;
    font-size: 16px;
}
.blog-date{
    color: #BDBDBD;
    padding: 15px 20px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 20px;
}
.blog-box p{
    color: #2B4570;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 20px;
}
.tes-content h4{
    color: #2B4570;
    font-size: 40px;
    font-family: 'Archivo', sans-serif;
    font-weight: 200;
    margin-bottom: 30px;
}
.tes-content h3{
    color: #EC2426;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
}
.tes-content h3 sub{
    bottom: 0;
    font-weight: 200;
}
.tes-content .btn{
    border: 1px solid #EDEDED;
    background: #FFF;
    border-radius: 100px;
    padding: 20px 40px;
}
.tes-img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
    overflow: hidden;
}
.tes-box.light-blue{
    background: #478FFB;
}
.tes-box.dark-blue{
    background: #00335B;
}
.tes-box{
    padding: 40px;
}
.tes-box h3{
    color: #ffffff;
    font-size: 22px;
    margin: 20px 0px 10px;
}
.tes-box p{
    color: #ffffff;
    font-size: 15px;
}
.social-icon{
    border: 1px solid #BDBDBD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 20px;
}
.social-icon i{
    font-size: 25px;
}
.footer-section-wrapper{
    background: #478FFB;
}
.footer-title h3{
    font-size: 24px;
    color: #FFF;
    font-family: 'Archivo', sans-serif;
}
.footer-title h3 a{
    text-decoration: none;
    color: #ffffff;
}
.footer-content p{
    color: #FFF;
}
.footer-content p a{
    color: #FFF;
    text-decoration: none;
}
.footer-content h6{
    color: #ffffff;
    font-weight: 600;
}
.footer-logos{
    display: flex;
    align-items: center;
}
.footer-logos .tw-seven{
    margin: 0px 10px;
}
.footer-links p{
    margin-bottom: 10px;
}
.footer-bottom p{
    color: #ffffff;
}
.footer-bottom{
    background: #478FFB;
    padding-bottom: 20px;
}
.space-top{
    margin-top: 80px;
}
.text-align-right{
    text-align: right;
}
.swiper{
    width: 100%;
    height: 510px; 
}
.swiper-pagination{
    left: 0px !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #edba37;
}
.tns-nav button.tns-nav-active{
    background-color: #edba37;
}
.tns-outer{
    position: relative;
}
.banner-section-wrapper .owl-carousel .owl-item img{
    width: auto;
}
.banner-section-wrapper .owl-dots .owl-dot{
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50px;
    margin: 0px 2px;
}
.banner-section-wrapper .owl-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.banner-section-wrapper .owl-dot.active{
    background-color: #478FFB;
}
.banner-section-wrapper .owl-dots .owl-dot{
    margin-bottom: 5px;
}
.footer-links ul{
    margin: 0px;
    padding: 0px;
    text-align: right;
}
.footer-links ul li{
    list-style: none;
    display: inline-block;
}
.footer-links ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 0px 20px;
}
.firstlink a{
    border-right: 1px solid #ffffff;
}
.contact-links h6{
    color: #2B4570;
    font-size: 25px;
    line-height: 25px;
}
.contact-links a{
    color: #EC2426;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
}
.contact-links-section .social-icon{
    margin-bottom: 0px;
}
.form-map-section{
    background-color: #F4F4F4;
}
.map-section-box{
    background-color: #ffffff;
    padding: 20px;
}
.mapbox iframe{
    width: 100%;
    height: 400px;
}
.formbox{
    background-color: #ffffff;
    padding: 20px;
    height: 546px;
}
.formbox .form-control{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 0px;
}
.formbox .btn{
    margin-bottom: 0px !important;
    border-radius: 6px;
    border: 3px solid #0079C8;
    color: #0079C8;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    margin-top: 30px;
}
.formbox .btn i{
    margin-top: 2px;
    position: relative;
    top: -1px;
}
.make-a-referral-form input[type="text"],.make-a-referral-form input[type="tel"],.make-a-referral-form input[type="date"],.make-a-referral-form input[type="email"]{
    height:50px;
}


@media only screen and (min-width: 1920px){

    .container-fluid{
        width: 1720px;
    }
}
@media only screen and (max-width:1440px){

}
@media only screen and (max-width:1199px){

}
@media only screen and (max-width:991px){

    .contact-links{
        margin-bottom: 20px;
    }
    .banner-section-wrapper .banner-image{
        position: static;
        margin-top: 40px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        padding: 10px 15px;
        font-size: 15px;
    }
    .navbar-brand img{ 
        width: 100%;
    }
    .color-box{
        padding: 50px 15px;
    }
    .color-box h5{
        font-size: 20px;
        margin-bottom: 20px
    }
    .color-box ul {
        padding-left: 20px;
    }
    ul.list-style li {
        font-size: 16px;
        margin-top: 10px;
    }
    .aboutus-section .banner-box{
        margin-bottom: 40px;
    }
    .service-title h2{
        font-size: 16px;
    }
    .service-title{
        padding: 20px;
    }
    .who-qualifies-section h2 br{
        display: none;
    }
    .social-image{
        margin-bottom: 30px;
    }
    .footer-content{
        margin-bottom: 40px;
    }
}
@media only screen and (max-width:767px){

    .contact-links-section .social-icon {
        margin-bottom: 20px;
    }
    .contact-links-section .contact-links {
        margin-bottom: 40px;
    }
    .contact-links-section .contact-links a{
        font-size: 20px;
    }
    .page-name-section .banner-box h2 {
        font-size: 35px;
    }
    .navbar.navbar-expand-md.navbar-dark.mb-4{
        margin-bottom: 0px !important;
    }
    .banner-box{
        margin: 15px;
    }
    .navbar-toggler{
        background: #ED2426 !important;
    }
    .email-and-home{
        justify-content: center;
    }
    .phone-contact{
        justify-content: center;
    }
    .intro-text p{
        width: 100%;
    }
    .tes-box{
        margin-top: 30px;
    }
    .footer-logo{
        margin-bottom: 30px;
    }
    .footer-bottom p{
        text-align: center;
    }
    .footer-section-wrapper.top-bottom-space{
        padding-bottom: 20px;
    }
    .tes-section-wrapper.top-bottom-space{
        padding-top: 0px;
    }
    .blog-box{
        text-align: center;
        margin-top: 30px;
    }
    .video-title{
        text-align: center;
    }
    .videos-section-wrapper .video-wrapper{
        margin-bottom: 40px;
    }
    .intro-text{
        margin: 80px 0px 80px;
    }
    .social-image{
        text-align: center;
    }
    .video-title h2 br{
        display: none;
    }
    .section-title h2{
        font-size: 40px;
    }
    .who-qualifies-section h2{
        font-size: 30px;
    }
    .who-qualifies-section h6{
        font-size: 20px;
    }
    .ilove{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width:575px){

    .top-bottom-space{
        padding: 50px 0px;
    }
    .footer-logo{
        text-align: center;
    }
    .footer-content{
        text-align: center;
    }
    .footer-logos{
        justify-content: center;
    }
    .spaceleft-right{
        padding: 0px 15px;
    }
    .navbar-brand{
        width: 100px;
    }
    .banner-box{
        padding: 40px 20px;
    }
    .banner-box h2{
        font-size: 24px;
    }
    .banner-box h6{
        font-size: 20px;
    }
    .banner-box p{
        font-size: 16px;
    }
    .intro-text{
        margin: 50px 0px 50px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .aboutus-section{
        margin-top: 20px;
    }
    .section-title h2{
        font-size: 35px;
    }
    .section-title{
        margin-bottom: 30px;
    }
    .video-title h2{
        font-size: 24px;
    }
    .videos-section-wrapper .col-md-12.mt-5{
        margin-top: 0px !important;
    }
    .blog-section-wrapper.top-bottom-space .row.mb-4{
        margin-bottom: 0px !important;
    }
    .tes-content h4{
        font-size: 35px;
    }
    .tes-content h3{
        font-size: 35px;
    }
    .tes-box{
        padding: 40px 20px;
    }
    .ilove{
        margin-top: 30px;
        text-align: center;
    }
    .color-box{
        padding: 50px 15px 35px;
    }    
    .contact-us-link a{
        font-size: 12px;
    }
    .footer-bottom p{
        font-size:14px;
    }
}