body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.navbar-expand-md .navbar-nav .nav-link{
    color: #333333;
}
.navbar-nav.me-auto{
    margin-left: auto!important;
    margin-right: 0px !important;
}
.space-left-right{
    padding: 0px 50px;
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 15px 25px;
}
.spaceleft-right{
    padding: 0px 40px;
}
.top-header{
    background-color:#033358;
}
.email-and-home{
    display: flex;
    align-items: center;
}
.home-link{
    background-color: #ffffff;
    padding: 7px 10px;
}
.home-link a{
    color: #00335B;
    font-size: 20px;
}
.email-link a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    padding: 0px 15px;
}
.no-padding{
    padding: 0px !important;
}
.phone-contact{
    display: flex;
    justify-content: end;
    align-items: center;
}
.phone-link a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    display: inline-block;
    padding: 0px 20px;
}
.contact-us-link a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    background: #ED2426;
    display: inline-block;
    padding: 10px 30px;
}
.banner-box{
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 50px;
    z-index: 2;
    position: relative;
}
.banner-box h6{
    color: #2C7BF3;
    font-size: 22px;
}
.banner-box h2{
    font-size: 32px;
    color: #00335B;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-box p{
    font-size: 18px;
    margin-bottom: 25px;
}
.btn{
    border-radius: 6px;
    background: #478FFB;
    color: #ffffff;
    padding: 18px 25px;
    font-size: 16px;
    line-height: 16px;
}
.banner-section-wrapper .banner-image{
    width: 800px;
    position: absolute;
    right: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
}
.banner-section-wrapper{
    position: relative;
}
.intro-text {
    margin: 150px 0px 80px;
}
.intro-text p{
    font-size: 23px;
    width: 86%;
    margin: auto;
}
ul.list-style li{
    list-style: disc;
    color: #ffffff;
    margin-top: 20px;
}
.darkgreen{
    background: #008385;
}
.color-box{
    padding: 60px 30px;
}
.color-box h5{
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 28px;
    margin-bottom: 30px;
}
.bluecolor{
    background: #00335B;
}
.color-box p{
    color: #ffffff;
}
.greencolor{
    background: #3CB263;
}
.purplecolor{
    background: #6C2A77;
}
.colorfull-boxes .row{
    align-items: stretch;
}
.banner-box.section-text{
    padding: 0px;
    box-shadow: none;
    background: transparent;
}
.top-bottom-space{
    padding: 80px 0px;
}
.aboutus-section{
    background-image: url("../images/abtbg.png");
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: 40px;
}
.service-image{
    border-radius: 8px;
    overflow: hidden;
}
.service-title{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 40px 20px;
    width: 85%;
    margin: -50px auto;
    z-index: 1;
    position: relative;
}
.service-title h2{
    margin-bottom: 0px;
}
.service-title h2{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
}
.service-box{
    margin-bottom: 110px;
}
.btn i{
    margin-left: 5px;
}
.section-title{
    margin-bottom: 50px;
}
.section-title h2{
    color: #00335B;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 0px;
}
.video-title h6{
    color: #478FFB;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.video-title h2{
    color: #00335B;
    font-size: 32px;
    font-weight: 600;
}
.video-wrapper iframe{
    width: 100%;
    height: 400px;
    border-bottom: 5px solid #478FFB;
}
.video-wrapper{
    position: relative;
}
.video-wrapper:before{
    content: "";
    width: 100%;
    background: rgba(0, 121, 200, 0.10);
    height: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.video-wrapper .highlights-video{
    width: 90%;
    margin: auto;
}
.btn.redbtn{
    border-radius: 6px;
    border: 3px solid #EC2426;
    color: #ED2426;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
}
.btn.redbtn.bluebtn{
    border: 3px solid #0079C8;
    color: #0079C8;
}
.ilove{
    margin-top: 40px;
}
.who-qualifies-section{
    background: rgba(0, 121, 200, 0.10);
}
.who-qualifies-section h2{
    color: #00335B;
    font-size: 40px;
    font-weight: 600;
}
.who-qualifies-section h6{
    color: #333;
    font-size: 24px;
}
.list-style li{
    font-size: 18px;
    margin-top: 25px;
}
.who-qualifies-section h2{
    margin-bottom: 30px;
}
.who-qualifies-section h6{
    
}
.list-style ul li{
    color: #333;
    font-size: 18px;
}
.blog-date{
    color: #BDBDBD;
    padding: 15px 20px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 20px;
}
.blog-box p{
    color: #2B4570;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 20px;
}
.tes-content h4{
    color: #2B4570;
    font-size: 40px;
    font-family: 'Archivo', sans-serif;
    font-weight: 200;
    margin-bottom: 30px;
}
.tes-content h3{
    color: #EC2426;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
}
.tes-content h3 sub{
    bottom: 0;
    font-weight: 200;
}
.tes-content .btn{
    border: 1px solid #EDEDED;
    background: #FFF;
    border-radius: 100px;
    padding: 20px 40px;
}
.tes-img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
    overflow: hidden;
}
.tes-box.light-blue{
    background: #478FFB;
}
.tes-box.dark-blue{
    background: #00335B;
}
.tes-box{
    padding: 40px;
}
.tes-box h3{
    color: #ffffff;
    font-size: 22px;
    margin: 20px 0px 10px;
}
.tes-box p{
    color: #ffffff;
    font-size: 15px;
}
.social-icon{
    border: 1px solid #BDBDBD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 20px;
}
.social-icon i{
    font-size: 25px;
}
.footer-section-wrapper{
    background: #478FFB;
}
.footer-title h3{
    font-size: 24px;
    color: #FFF;
    font-family: 'Archivo', sans-serif;
}
.footer-title h3 a{
    text-decoration: none;
    color: #ffffff;
}
.footer-content p{
    color: #FFF;
}
.footer-content p a{
    color: #FFF;
    text-decoration: none;
}
.footer-content h6{
    color: #ffffff;
    font-weight: 600;
}
.footer-logos{
    display: flex;
    align-items: center;
}
.footer-logos .tw-seven{
    margin: 0px 10px;
}
.footer-links p{
    margin-bottom: 10px;
}
.footer-bottom p{
    color: #ffffff;
}
.footer-bottom{
    background: #478FFB;
    padding-bottom: 20px;
}
.space-top{
    margin-top: 80px;
}
.text-align-right{
    text-align: right;
}

@media only screen and (min-width: 1920px){

    .container-fluid{
        width: 1720px;
    }
    .banner-section-wrapper .banner-image{
        position: static;
    }
}